<div>
<!--  <div>No tasks to display. Please add a task.</div>-->

  <!-- TODO: Add logic to render tasks here -->
  <div class="task-list">
    <div class="task">
      <span class="task-title">Task 1</span>
      <span class="task-description">Task 1 description</span>

      <button class="task-delete">x</button>
    </div>

    <div class="task">
      <span class="task-title">Task 2</span>
      <span class="task-description">Task 2 description</span>

      <button class="task-delete">x</button>
    </div>
  </div>
</div>
